<div class="container">
	<div class="row justify-content-md-center">&nbsp;</div>
	<div class="row justify-content-md-center">
		<%= link_to image_tag("logo.png", alt: "CONRE logo"),
            'http://confe.org.br/' %>
	</div>
	<div class="row justify-content-md-center">&nbsp;</div>
	<!--<div style="margin: auto; width: 410px; padding-top: 50px; font-family: sans-serif">-->
	<div class="row justify-content-md-center" style="background-color: #0E1B8D; /*background-image:url('https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg');*/ background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;">
		<h2 style="color: white">Eleição CONRE 2018 - Login</h2>
	</div>
	<!--<div style="margin:auto; width: 250px;">-->
	<div class="row justify-content-md-center">
		<% if flash.count > 0 then %>
			<%- flash.each do |key, msg| -%>
				<div id="<%= key %>">
					<!--<p style="float:right;">< % = link_to_function 'x', "Effect.Fade('#{key}')" % ></p>-->
					<p style="color: red"><%= msg %></p>
					<div class="clear"></div>
				</div>
			<%- end -%>
		<% else %>
			<!-- no flash -->
		<% end %>
	</div>
	<div class="row justify-content-md-center" style="background-color: #0E1B8D; /*background-image:url('https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg');*/ background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;">
		<!--<div style="margin: auto; background-color: rgb(163, 168, 233); width: 300px; padding: 50px 20px 50px 20px; border: 1px solid black;">-->
		<div class="row justify-content-md-center">
			<%= form_for(:session, url: login_path) do |f| %> 
				<div class="row justify-content-md-center"><%= f.text_field :documento, :placeholder => "Login", class:"form-control" %> </div>
				<div class="row justify-content-md-center"><%= f.password_field :password, :placeholder => "Senha", class:"form-control" %> </div>
				<div class="row justify-content-md-center">
					<div class="col" style="padding-left: 0px; padding-right: 0px;"><%= f.submit "Log in", class: "btn btn-success btn-block" %></div>
					<div class="col" style="padding-right: 0px; padding-left: 0px;"><input type="button" value="Esqueci a senha" class="btn btn-info btn-block" onclick="alert('Mande um email ou ligue para o seu CONRE para obter uma nova senha')"/> </div></div>
			<% end %>
		</div>
	</div>
	<div class="row justify-content-md-center">
		<i style="font-size: 8px; font-family: sans-serif; color: gray"><%= @title %></i>
	</div>
	</div>
</div>